<p>data-binding works!</p>
<table style="width: 100%">
  <tr>
    <td>{{courseName}}</td>
    <td><button (click)="showWelcomeMessage()">Show Message</button></td>
    <td>
      <button (click)="changeCourseName()">Chnage Course</button>
    </td>

    <td>{{courseName}}</td>
    <td>
      <select (change)="oncitychange()">
        <option value="">Pune</option>
        <option value="">Nagpur</option>
        <option value="">Mumbai</option>
      </select>
    </td>
  </tr>

  <tr>
    <td>
      text 1
      <input type="text" name="" id="" value="{{courseName}}" />
    </td>
  </tr>

  <tr>
    <td>
      text 2
      <input type="text" [(ngModel)]="courseName" />
    </td>
  </tr>
</table>
